body {
  background-color: aliceblue;
}

.container {
  background-color: rgb(241, 240, 238);
  height: 100vh;
}

.header {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: rgb(200, 195, 238);
  margin-bottom: 1em;
}

.body-row {
  padding-top: 10px;
}

.nav-bar{
  margin-right: auto;
  margin-left: 2em;
  border: 1px solid grey;
  border-radius: 5px;
}

.nav-button {
  transition: background-color .5s;
}
.nav-button:active {
  background-color: rgb(241, 238, 238);
  transition: background-color .1s;
}

.nav-choice {
  appearance: none;
}

.btn {
  width: auto;
}
.nav-right{
  margin-right: 2em;
  margin-left: auto;
}
.status-input {
  width: auto;
}

.feed-header {
  background-color: rgb(241, 238, 238);
  padding: 5px;
  border-radius: 10px;
}

.feed-img, .contact-img {
  border: 2px solid grey;
  padding: 2px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.feed-item p, .feed-reply p {
  margin-bottom: 0;
}

.user-column{
  text-align: center;
}

.user-box-image{
  border: 2px solid grey;
  padding: 2px;
  border-radius: 10px;
  height: 10em;
  width: 7em;
  margin: auto;
  display: block;
}

.box-button{
  background-color: rgb(241, 238, 238);
  width: max(33%, auto);
  font-size: min(100%, 1vw);
  padding: 2px;
  margin: 2px;
}
